/* Fonts */
@font-face {
  font-family: "Helvetica Thin";
  src: url("/assets/fonts/HelveticaNeue\ Thin.ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #191919;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  box-sizing: content-box;
  padding: 12px;
  font-family: "Helvetica Thin";
  letter-spacing: 4px;
  color: #fff;
}

canvas {
  border: 3px solid #fff;
}

button {
  padding: 10px 30px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  body {
    gap: 3rem;
  }

  canvas {
    width: 320px;
    height: 400px;
  }
}

@media screen and (max-width: 372px) {
  body {
    font-size: 14px;
    letter-spacing: 1px;
  }

  canvas {
    width: 270px;
    height: 350px;
  }
}
