/* Fonts */
@font-face {
  font-family: "Helvetica Thin";
  src: url("/assets/fonts/HelveticaNeue\ Thin.ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #000;
}

h1 {
  font-family: "Helvetica Thin";
  letter-spacing: 4px;
  text-align: center;
  color: #fff;
}

canvas {
  margin: auto;
  display: block;
  border: 3px solid #fff;
}

@media screen and (max-width: 768px) {
  canvas {
    margin-top: 3rem;
    width: 320px;
    height: 400px;
  }
}
